@media screen and (max-width: 760px) {
    .carousel-img{
        height: 400px !important;
    }

    #card-body{
        padding-left: 0px;
    }
}

@media screen and (max-width: 600px) {
    .carousel-img{
        height: 300px !important;
    }
}