#footer{
    background-color: #0077B6;
    color: white;
}

@media screen and (max-width:600px) {
    #footer-top{
        flex-direction: column;
    }

    #footer-text{
        width: 100% !important;
    }

    #footer-logo{
        text-align: center;
    }
}