nav.container-fluid.border.px-0
  #navbar-content.d-sm-flex.flex-sm-wrap.justify-content-between.px-5

    #navbar-logo.my-1
      img(src="public/icons/nav_logo.svg", alt="website-logo")

    #navbar-menu.d-sm-flex.flex-wrap.justify-content-around(style="width: 50%;")
      .d-flex.flex-wrap.align-content-center.border-bottom.border-2.border-primary
        a.text-decoration-none.d-block.px-1.text-primary(href="#") Home
      .d-flex.flex-wrap.align-content-center
        a.text-decoration-none.d-block.px-1.biru-laut-50(href="#") Tentang Kami
      .d-flex.flex-wrap.align-content-center
        a.text-decoration-none.d-block.px-1.biru-laut-50(href="#") Produk
      .d-flex.flex-wrap.align-content-center
        a.text-decoration-none.d-block.px-1.biru-laut-50(href="#") Pesanan

    #navbar-icon.d-sm-flex.flex-sm-wrap.justify-content-between.align-content-center
      .d-flex.justify-content-between.align-content-center
        img#cart-icon.d-block(width="30", height="30", src="public/icons/cart-60.png", alt="shopping-cart")
        img#notification-icon.d-block.mx-4(width="30", height="30", src="public/icons/notification-48.png", alt="notification")
      if name
        .d-flex.justify-content-start.align-content-center
          #navbar-profile-picture(style="background-image: url('https://imageplaceholder.net/600');")
          .dropdown.d-flex.justify-content-between.align-content-center
            button#profile-dropdown.border-0.bg-transparent.dropdown-toggle.text-center(type="button", data-bs-toggle="dropdown", aria-expanded="false")
              | #{name}
            ul.dropdown-menu(aria-labelledby="profile-dropdown")
              li
                a.dropdown-item(href="#") Profile
              li
                a.dropdown-item.text-danger(href="#") Logout
      else
        a#login-button.text-decoration-none.fw-bold.d-block.biru-laut.biru-laut-border-nav.px-3.py-1.rounded-1.text-center(href="#") Masuk
