nav.container-fluid.border.px-0
  #navbar-content.d-sm-flex.flex-sm-wrap.justify-content-between.px-5

    #navbar-logo.my-1
      img(src="public/icons/nav_logo.svg", alt="website-logo")

    #navbar-menu.d-sm-flex.flex-wrap.justify-content-around(style="width: 50%;")
      #nav-home.d-flex.flex-wrap.align-content-center
        a.text-decoration-none.d-block.px-1.biru-laut-50(href="/") Home
      #nav-tentang-kami.d-flex.flex-wrap.align-content-center
        a.text-decoration-none.d-block.px-1.biru-laut-50(href="#") Tentang Kami
      #nav-produk.d-flex.flex-wrap.align-content-center
        a.text-decoration-none.d-block.px-1.biru-laut-50(href="/user/product-list") Produk
      #nav-pesanan.d-flex.flex-wrap.align-content-center
        a.text-decoration-none.d-block.px-1.biru-laut-50(href="/user/pesanan") Pesanan

    #navbar-icon.d-sm-flex.flex-sm-wrap.justify-content-between.align-content-center
      .d-flex.justify-content-between.align-content-center
        img#nav-cart-icon.d-block(width="30", height="30", src="public/icons/cart-60.png", alt="shopping-cart",  data-bs-toggle="tooltip", title="Lihat Keranjang")
        img#nav-notification-icon.d-block.mx-4(width="30", height="30", src="public/icons/notification-48.png", alt="notification",  data-bs-toggle="tooltip", title="notifikasi")
      if name
        .d-flex.justify-content-start.align-content-center
          if avatar
            #navbar-profile-picture(style=`background-image: url('public/user_avatar/${avatar}');`)
          else
            #navbar-profile-picture(style="background-image: url('https://imageplaceholder.net/600');")
          .dropdown.d-flex.justify-content-between.align-content-center
            button#profile-dropdown.border-0.bg-transparent.dropdown-toggle.text-center(type="button", data-bs-toggle="dropdown", aria-expanded="false")
              | #{name}
            ul.dropdown-menu(aria-labelledby="profile-dropdown")
              li
                a.dropdown-item(href="/user/profile") Profile
              li
                a.dropdown-item.text-danger(href="/logout") Logout
      else
        a#login-button.text-decoration-none.fw-bold.d-block.biru-laut.biru-laut-border-nav.px-3.py-1.rounded-1.text-center(href="/login") Masuk 
