doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css', rel='stylesheet')
    link(rel="stylesheet", href="/public/styles/global.css")
    link(rel="stylesheet", href="/public/styles/navbar.css")
    link(rel="stylesheet", href="/public/styles/footer.css")
    style.
      @media screen and (max-width:800px) {
        #about-description{
            flex-direction: column !important;
        }
        #aboutus-text{
            width: 100% !important;
            text-align: center;
        }
      }
      @media screen and (max-width:950px){
        #about-card-container{
            flex-direction: column !important;
        }
        .about-card{
            width: 50% !important;
        }
      }
      @media screen and (max-width:670px){
        .about-card{
            width: 80% !important;
        }
      }
    title About Us
  body
    include ../navbar.pug
    main.container-fluid.px-5.my-5
      #about-description.d-flex.flex-wrap.justify-content-around.align-items-center
        #img-container.w-50.d-flex.justify-content-center
          img.img-fluid(src='/public/icons/nav_logo.svg', alt='about us image', style='height: 150px;')
        #aboutus-text.w-50.px-5
          h2.pb-4
            span.fw-bold Tentang
            |  Kami
          p
            | Umart ialah sebuah platform berbasis website yang dirancang untuk membantu
            | UMKM sektor maritim di Provinsi Kepulauan Riau mendigitalisasi proses penjualan
            | produk hasil laut dan budidaya. Website ini memungkinkan pelaku UMKM menjangkau
            | konsumen lebih luas, meningkatkan penjualan, serta memberikan kemudahan dalam
            | transaksi dan promosi produk secara online.
      .py-5
        h3.text-center Kenapa Umart ?
      #about-card-container.d-flex.flex-wrap.justify-content-around.align-items-center
        .border.w-25.p-3.my-4.border.border-dark.rounded-1.about-card(style='background-color: #F5F5F5;')
          h5.fw-bold Dibuat Khusus Untuk UMKM Maritim
          p
            | Kami memahami bahwa sektor maritim punya tantangan unik. Umart hadir sebagai solusi .
        .w-25.p-3.my-4.border.border-dark.rounded-1.about-card(style='background-color: #F5F5F5;')
          h5.fw-bold Tingkatkan Nilai Produk Lokal
          p
            | Kami bantu kamu memasarkan, dan memperluas jangkauan produk hasil laut dan budidaya.
    include ../footer.pug
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js')
    script.
        window.onload = ()=>{
            const navMenu = document.getElementById('nav-tentang-kami');
            navMenu.className = 'd-flex flex-wrap align-content-center border-bottom border-2 border-primary';
            navMenu.childNodes[0].style.fontWeight = "bold";
        }