doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Image Rotation
    style.
      html, body {
      height: 100%;
      margin: 0;
      background: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      }
      img {
      width: 100px;
      height: 100px;
      animation: rotate 2s linear infinite;
      user-select: none;
      }
      #check-status-button{
      color: white;
      background-color: #006094;
      width: 40%;
      padding: 0.5em 0em;
      text-align: center;
      border-radius: 0.4em;
      }

      #check-status-button:hover{
        cursor:pointer;
      }
      #message-container{
      border-radius: 0.5em;
      background-color: #00609491;
      width: 50vw;
      height: 50vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      display: none;
      }
      @keyframes rotate {
      from {
      transform: rotate(0deg);
      }
      to {
      transform: rotate(360deg);
      }
      }
  body
    img#preloader-img(src='public/icons/preloader.png', alt='Rotating Image')
    #message-container
      h2 Terima kasih atas pembayaranmu !
      h3 Pesanan ##{orderId} Terkonfirmasi
      #check-status-button(onclick = 'toListPage()') Check Status
    script.
      window.addEventListener('DOMContentLoaded', () => {
        setTimeout(() => {
          document.getElementById('preloader-img').style.display = 'none';
          document.getElementById('message-container').style.display = 'flex';
        }, 2000);
      });

      document.getElementById('check-status-button').addEventListener('click', ()=>{
        window.location.assign("http://" + window.location.host + `/user/payment-list`);
      });